* {
  box-sizing: border-box;
}
body {
  margin: 0px; background-color: #222218;
  font-family: "Rockwell", sans-serif; font-size: 42px; color: #f4ec2b;
}
#app {
  display: flex; flex-direction: column; align-items: center;
}
.score-wrapper {
  width: 768px;
  display: flex; justify-content: space-between;
}
.title {
  text-align: center;

  h3, h5 {
    margin: 20px 0px;
  }

  span {
    color: #7d0d2b;
  }
}
canvas {
  background-color: #2ef4ff; border-radius: 8px;
}
